@font-face {
  font-family: "Blender Pro Bold";
  src: url(./fonts/BlenderPro-Bold.woff);
}

@font-face {
  font-family: "Blender Pro 500";
  src: url(./fonts/BlenderPro-Book.woff);
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  cursor: pointer;
}
ul li {
  list-style: none;
}
button {
  border: none;
  cursor: pointer;
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .container {
    padding: 0 15px;
    margin: 0 auto;
    width: 480px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .container {
    padding: 0 15px;
    margin: 0 auto;
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    padding: 0 15px;
    margin: 0 auto;
    width: 1280px;
  }
}

.header_thumb {
  display: flex;
  margin-top: 10px;
  margin-bottom: 60px;
}
.header_nav {
  display: flex;
  align-items: center;
  margin-left: 80px;
  margin-right: 100px;
}
.header_nav_description {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  color: #555e66;
}
.header_nav_description:not(:last-child) {
  margin-right: 30px;
}

.header_auth {
  display: flex;
  align-items: center;
  margin-left: 50px;
}
.auth_login_button {
  display: inline-flex;
  align-items: center;
  border-radius: 500px;
  background-color: #ffffff;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 22px;
  color: #0080f6;
  border: 1px solid #0080f6;
  padding: 8px 20px;
}

.auth_register_button {
  margin-left: 6px;
  padding: 8px 20px;
  border-radius: 500px;
  background-color: #0080f6;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 22px;
  color: #ffffff;
}
.login_icon {
  margin-right: 12px;
}
.hero_link {
  margin-bottom: 20px;
}
.advin_link {
  position: relative;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  color: #0080f6;
}
.advin_arrow {
  position: absolute;
  top: -2px;
  left: 146px;
}
.hero {
  display: flex;
}
.advin_hero_title {
  font-family: "Blender Pro Bold";
  font-style: normal;
  font-weight: 700;
  font-size: 85px;
  line-height: 78px;
  letter-spacing: -0.02em;
  color: #222426;
  margin-bottom: 30px;
}
.advin_hero_blue_title {
  color: #0080f6;
}
.advin_hero_subtitle {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 38px;
  color: #555e66;
  margin-bottom: 70px;
}
.hero_button {
  text-align: center;
  padding: 10px 30px 10px 50px;
  gap: 10px;
  width: 320px;
  height: 75px;
  background: linear-gradient(
    93.04deg,
    #0062f6 0%,
    #0080f6 42.71%,
    #00bbf6 100%
  );
  box-shadow: 0px 30px 100px -5px rgba(0, 128, 246, 0.4);
  border-radius: 500px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.05em;
  text-align: center;
  color: #fff;
  margin-bottom: 230px;
}
.hero_button_icon {
  margin-left: 40px;
}
.phone_case_thumb {
  background-image: linear-gradient(
    93.04deg,
    #0062f6 0%,
    #0080f6 42.71%,
    #00bbf6 100%
  );
  filter: blur(175px);
  transform: rotate(-15deg);
}
.content {
  color: #000;
}
.shopAR_description {
  padding-top: 100px;
  padding-bottom: 140px;
  margin-bottom: 68px;
  background-color: #1c3042;
  font-family: "Blender Pro Bold";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 58px;
  text-align: center;
  letter-spacing: -0.02em;
  color: #ffffff;
}
.shopAR_description_colored {
  color: #0080f6;
}
.categories {
  margin-bottom: 100px;
}
.category_title {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}
.category_text {
  margin-bottom: 40px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  color: #222426;
}
.arrows_thumb {
  display: flex;
}
.category_arrow_icon {
  padding: 14px 20px;
  background: #ffffff;
  border: 1px solid #dfebf7;
  box-shadow: 0px 70px 60px -50px rgba(34, 36, 38, 0.2);
  border-radius: 500px;
}
.category_arrow_icon:not(:last-child) {
  margin-right: 20px;
}
.items_thumb {
  margin-bottom: 60px;
  display: flex;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 21px;
  line-height: 32px;
  color: #222426;
}
.item {
  position: relative;
  width: 350px;
  height: 140px;
  background-color: #fff;
  border: 1px solid #dfebf7;
  border-radius: 20px;
  margin-right: 20px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
}
.item_config_title {
  padding-top: 20px;
  padding-left: 30px;
}
.item_active {
  background-color: #e5f3ff;
  position: relative;
  width: 350px;
  height: 140px;

  border: 1px solid #dfebf7;
  border-radius: 20px;
  margin-right: 20px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
}
.item_img {
  position: absolute;
  top: 6px;
  left: 170px;
}
.item_img_active {
  position: absolute;
  top: 6px;
  left: 170px;
  background-image: url(./images/sofa_shade.svg);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 20px;
}
.drag_to_rotate {
  text-align: center;
  font-family: "Fira Code";
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #555e66;
}
.drag_to_rotate_icon {
  vertical-align: middle;
}
.item_config_thumb {
  display: flex;
}
.config_type {
  margin-bottom: 20px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 21px;
  line-height: 25px;
  color: #222426;
}
.config_items {
  display: flex;
  margin-bottom: 40px;
}
.config_item {
  display: flex;
  align-items: center;
  padding: 10px 20px 10px 10px;
  gap: 10px;
  width: 134px;
  height: 70px; /* SH - blue */
  border: 2px solid #dfebf7;
  border-radius: 20px;
}
.config_item:not(:last-child) {
  margin-right: 5px;
}
.config_item_text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
}
.config_item_color_thumb {
  display: flex;
  margin-bottom: 50px;
}
.config_item_color:not(:last-child) {
  margin-right: 40px;
}
.config_size {
  display: flex;
}
.item_size {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin-bottom: 80px;
}
.item_size:not(:last-child) {
  margin-right: 100px;
}
.try_on_button {
  align-items: center;
  display: inline-flex;
  padding: 10px 30px 10px 50px;
  gap: 10px;
  width: 320px;
  height: 75px;
  background: linear-gradient(
    93.04deg,
    #0062f6 0%,
    #0080f6 42.71%,
    #00bbf6 100%
  );
  box-shadow: 0px 30px 100px -5px rgba(0, 128, 246, 0.4);
  border-radius: 500px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #ffffff;
}
.try_on_button_text {
  margin-right: 40px;
}
.benefits_section {
  background: #f5f7fa;
  padding-bottom: 200px;
}
.benefits_title {
  padding-top: 100px;
  margin-bottom: 70px;
  text-align: center;
  font-family: "Blender Pro Bold";
  font-style: normal;
  font-weight: 700;
  font-size: 85px;
  line-height: 78px;
  letter-spacing: -0.02em;
  color: #222426;
}
.benefits_title_blue {
  padding-top: 100px;
  margin-bottom: 70px;
  text-align: center;
  font-family: "Blender Pro Bold";
  font-style: normal;
  font-weight: 700;
  font-size: 85px;
  line-height: 78px;
  letter-spacing: -0.02em;
  color: #0062f6;
}
.benefits_thumb {
  display: flex;
  flex-wrap: wrap;
}
.item_benefit {
  flex-basis: calc((100% - 20px) / 2);
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  padding: 30px 30px 40px;
  width: 800px;
  height: 150px;
  background: #ffffff;
  border-radius: 20px;
}

.item_benefit:not(:nth-child(2n)) {
  margin-right: 20px;
}

.item_benefit_text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 21px;
  line-height: 25px; /* SH black */
  color: #222426;
}

.ar_numbers {
  background: #1c3042;
}
.ar_numbers_thumb {
  padding-top: 100px;
  /* background: linear-gradient(
    93.04deg,
    #0062f6 0%,
    #0080f6 42.71%,
    #00bbf6 100%
  );
  filter: blur(300px); */
}
.gradient {
  position: absolute;
  background: linear-gradient(
    93.04deg,
    #0062f6 0%,
    #0080f6 42.71%,
    #00bbf6 100%
  );
  filter: blur(300px);
}
.ar_numbers_thumb {
  display: flex;
  justify-content: space-between;
}
.ar_number_description {
  position: relative;
  padding-bottom: 140px;
}
.ar_number {
  font-family: "Blender Pro 500";
  font-style: normal;
  font-weight: 500;
  font-size: 220px;
  line-height: 202px;
  letter-spacing: -0.06em;
  color: #ffffff;
}
.ar_number_text {
  position: absolute;
  bottom: 80px;
  left: 120px;
  font-family: "Blender Pro 500";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 33px;
  letter-spacing: -0.02em; /* SH white */
  color: #ffffff;
  backdrop-filter: blur(10px);
}

.benefits_in_numbers {
  display: flex;
  padding-top: 144px;
  padding-bottom: 170px;
}
.benefit_in_number {
  width: 390px;
  height: 280px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  padding: 40px;
}
.benefit_in_number:not(:last-child) {
  margin-right: 20px;
}
.benefits_in_numbers_text {
  font-family: "Blender Pro Bold";
  font-style: normal;
  font-weight: 700;
  font-size: 92px;
  line-height: 85px;
  letter-spacing: -0.02em;
  color: #ffffff;
  margin-bottom: 20px;
}
.benefits_in_numbers_subtext {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 21px;
  line-height: 25px;
  color: #ffffff;
}

.integration_title {
  padding-top: 100px;
  font-family: "Blender Pro Bold";
  font-style: normal;
  font-weight: 700;
  font-size: 85px;
  line-height: 78px;
  letter-spacing: -0.02em;
  color: #222426;
}
.integration_subtitle {
  font-family: "Blender Pro Bold";
  font-style: normal;
  font-weight: 700;
  font-size: 85px;
  line-height: 78px;
  letter-spacing: -0.02em;
  color: #0062f6;
}
.integration_icon {
  position: relative;
}
.integration_easy_icon {
  position: absolute;
  left: 720px;
  top: -140px;
}
.integration_steps_list {
  margin-top: 120px;
  display: flex;
}
.integration_step {
  position: relative;
  padding: 30px 30px 40px;
  width: 375px;
  height: 400px;
  background: #f5f7fa;
  border-radius: 20px;
}
.integration_step:not(:last-child) {
  margin-right: 40px;
}
.integration_steps_list {
  padding-bottom: 275px;
}
.integration_step_text {
  font-family: "Blender Pro Bold";
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #ff9bd7;
}
.integration_step_subtext {
  font-family: "Blender Pro 500";
  font-style: normal;
  font-weight: 500;
  font-size: 55px;
  line-height: 51px;
  letter-spacing: -0.02em;
  color: #ff9bd7;
  margin-bottom: 20px;
}
.integration_step_text_title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 35px;
  color: #222426;
  margin-bottom: 20px;
}
.integration_step_description {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #555e66;
}
.integration_arrow_thumb {
  position: relative;
}
.integration_arrow {
  position: absolute;
  left: -40px;
  top: 160px;
}
.integration_step_text_2 {
  font-family: "Blender Pro Bold";
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #68dc97;
}
.integration_step_subtext_2 {
  font-family: "Blender Pro 500";
  font-style: normal;
  font-weight: 500;
  font-size: 55px;
  line-height: 51px;
  letter-spacing: -0.02em;
  margin-bottom: 20px;
  color: #68dc97;
}
.integration_link {
  position: absolute;
  padding-top: 25px;
  left: 0px;
  width: 375px;
  height: 75px;
  background: linear-gradient(92.29deg, #68dc97 0%, #96ffad 100%);
  border-radius: 0px 0px 20px 20px;
  margin-top: 45px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #222426;
}
.integration_link_arrow {
  margin-left: 90px;
}
.integration_step_text_3 {
  font-family: "Blender Pro Bold";
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #baa1ff;
}
.integration_step_subtext_3 {
  font-family: "Blender Pro 500";
  font-style: normal;
  font-weight: 500;
  font-size: 55px;
  line-height: 51px;
  letter-spacing: -0.02em;
  margin-bottom: 20px;
  color: #baa1ff;
}
.integration_step_text_4 {
  font-family: "Blender Pro Bold";
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #ffa842;
}
.integration_step_subtext_4 {
  font-family: "Blender Pro 500";
  font-style: normal;
  font-weight: 500;
  font-size: 55px;
  line-height: 51px;
  letter-spacing: -0.02em;
  margin-bottom: 20px;
  color: #ffa842;
}
.usage_section {
  background: #f5f7fa;
}
.usage_text {
  padding-top: 100px;
  font-family: "Blender Pro Bold";
  font-style: normal;
  font-weight: 700;
  font-size: 85px;
  line-height: 78px;
  text-align: center;
  letter-spacing: -0.02em;
  color: #222426;
}
.usage_subtext {
  margin-bottom: 70px;
  font-family: "Blender Pro Bold";
  font-style: normal;
  font-weight: 700;
  font-size: 85px;
  line-height: 78px;
  text-align: center;
  letter-spacing: -0.02em;
  color: #222426;
}
.usage_list {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 200px;
}
.usage_option:not(:nth-child(2n)) {
  margin-right: 20px;
  margin-bottom: 20px;
}
.usage_option {
  flex-basis: calc((100% - 20px) / 2);
  display: flex;
  width: 800px;
  height: 250px;
  background: #ffffff;
  border-radius: 20px;
}
.usage_option_image {
  border-radius: 20px;
}
.usage_text_thumb {
  padding-top: 30px;
  padding-left: 70px;
}
.usage_text_title {
  margin-bottom: 20px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 35px;
  color: #222426;
}
.usage_text_subtitle {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #555e66;
}
